<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>Notizen</title>
    <link rel="stylesheet" type="text/css" href="standard.css" />
  </head>
  <body>
    <div id="contents">

      <div id="header">
	<img src="images/header.png" alt="Site Header">
      </div>

      <nav>
	<ul>
	  <li><a href="index.html">HOME</a></li>
	  <li><a href="RHCSA Exam Objectives.html">RHCSA</a></li>
	  <li><a href="RHCE Exam Objectives.html">RHCE</a></li>
	  <li><a href="RHEL7.html">RHEL7</a></li>
	  <li><a href="kurse.html">KURSE</a></li>
	  <li class="selected"><a href="puppet.html">PUPPET</a></li>
	  <li><a href="notizen.html">NOTIZEN</a></li>
	  <li><a href="impressum.html">IMPRESSUM</a></li>
      </nav>

      <div id="maincontents">
	<h1>Deployment und Konfigurationsmanagement</h1>
	<!--	<div class="page-break"></div> -->
	<div id="puppet">
	  <h2>Puppet Server (puppetmaster)</h2>
	  <h3>Installation und Services</h3>
	  <table class="serviceinfo">
	    <caption>puppet master Service Information</caption>
	    <tr>
	      <th>Pakete:</th>		
	      <td>
		puppet-server
	      </td>
	    </tr>
	    <tr>
	      <th>Services:</th>		
	      <td>
		puppetmaster
	      </td>
	    </tr>
	    <tr>
	      <th>Konfigurationswerkzeuge:</th>		
	      <td>
	      </td>
	    </tr>
	    <tr>
	      <th>Konfigurationsdateien:</th>		
	      <td>
		/etc/puppet/*
	      </td>
	    </tr>
	    <tr>
	      <th>Logdateien / -verzeichnis:</th>		
	      <td>
	      </td>
	    </tr>
	    <tr>
	      <th>Notwendige Ports:</th>		
	      <td>
		tcp:8140
	      </td>
	    </tr>
	    <tr>
	      <th>SELinux Booleans:</th>		
	      <td>
	      </td>
	    </tr>
	    <tr>
	      <th>Wichtige Kommandos:</th>		
	      <td>
	      </td>
	    </tr>
	  </table>
	  <h4>Installation</h4>
	  <p>Repository: <br>
	  <code>root@puppet:~&gt; <strong>sudo rpm -ivh http://yum.puppetlabs.com/puppetlabs-release-el-7.noarch.rpm</strong></code></p>
	  <p>Server: <br>
	  <code>root@puppet:~&gt; <strong>sudo yum install puppet-server</strong></code></p>
	  <p>Client: <br>
	  <code>root@puppet:~&gt; <strong>sudo yum install puppet</strong></code></p>

	  <h4>N&uuml;tzliche puppet Kommandos</h4>
	  <p><strong>Systeminformationen sammeln mit facter:</strong><br>
	    (alle facter ausgaben k&ouml;nnen auch als Variablen in den puppet templates genutzt werden)
	  <code>root@puppet:~&gt; <strong>facter operatingsystem operatingsystemrelease</strong>
operatingsystem => CentOS
operatingsystemrelease => 7.0.1406

root@puppet:~&gt; <strong>facter</strong>
architecture => x86_64
augeasversion => 1.1.0
blockdevice_sda_model => QEMU HARDDISK
blockdevice_sda_size => 16106127360
blockdevice_sda_vendor => ATA
blockdevices => sda
domain => snafuprinzip.de
facterversion => 2.2.0
filesystems => ext2,ext3,ext4
fqdn => puppetclient.snafuprinzip.de
gid => mleimenmeier
hardwareisa => x86_64
hardwaremodel => x86_64
hostname => puppetclient
id => mleimenmeier
interfaces => eth0,lo
ipaddress => 192.168.122.10
ipaddress_eth0 => 192.168.122.10
ipaddress_lo => 127.0.0.1
is_virtual => true
kernel => Linux
kernelmajversion => 3.10
kernelrelease => 3.10.0-123.el7.x86_64
kernelversion => 3.10.0
macaddress => 52:54:00:3c:5c:b5
macaddress_eth0 => 52:54:00:3c:5c:b5
memoryfree => 813.93 MB
memoryfree_mb => 813.93
memorysize => 994.00 MB
memorysize_mb => 994.00
mtu_eth0 => 1500
mtu_lo => 65536
netmask => 255.255.255.0
netmask_eth0 => 255.255.255.0
netmask_lo => 255.0.0.0
network_eth0 => 192.168.122.0
network_lo => 127.0.0.0
operatingsystem => CentOS
operatingsystemmajrelease => 7
operatingsystemrelease => 7.0.1406
os => {"name"=>"CentOS", "family"=>"RedHat", "release"=>{"major"=>"7", "minor"=>"0", "full"=>"7.0.1406"}}
osfamily => RedHat
partitions => {"sda1"=>{"uuid"=>"0e2df537-2f5e-4f06-9488-7880b37b842b", "size"=>"1048576", "mount"=>"/boot", "filesystem"=>"ext2"}, "sda2"=>{"size"=>"30406656", "filesystem"=>"LVM2_member"}}
path => /usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/mleimenmeier/bin:/sbin
physicalprocessorcount => 1
processor0 => QEMU Virtual CPU version 1.5.3
processorcount => 1
processors => {"models"=>["QEMU Virtual CPU version 1.5.3"], "count"=>1, "physicalcount"=>1}
ps => ps -ef
puppetversion => 3.6.2
rubysitedir => /usr/local/share/ruby/site_ruby/
rubyversion => 2.0.0
selinux => true
selinux_config_mode => enforcing
selinux_config_policy => unknown
selinux_current_mode => enforcing
selinux_enforced => true
selinux_policyversion => 28
sshecdsakey => AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBAORi3r+w6YOcumZkVnY+dxSpfEOirblAyDk0bwxh4tZUBF+ga2elbnRt+uOsQVw3Pg24opu6nzglGdB3glwavE=
sshfp_ecdsa => SSHFP 3 1 cbaa121ec7bf928fd7fc35ac69dde3b68ed67b25
SSHFP 3 2 f069b231dde8187db9db0adfd078148a2230608a65b5ce8e1b887b0c53bbefc6
sshfp_rsa => SSHFP 1 1 9e9b548114d42fa098981c0da6fbf7ab17cc9504
SSHFP 1 2 89da2b34364ebadad2bfaf5a4e2c001cbd880e5a62f659855ab05282f3f4df20
sshrsakey => AAAAB3NzaC1yc2EAAAADAQABAAABAQDIDvXQUpVqwpVzCditEGOYc3+GZR77vSCHTJBDiVxDLQSS0ZAubQrDOLhMZj6hPWfUCwZcXmxehNhNsLsKj32jOfrez0ooNKJqdc0pjtRK2O267gQL+GpIhiz0ZlhfSonZ9mo6SI96HdmokDGE8HB7dqbO69gKgkoBd4vSXkK/PCqgKIp2OEuiTx7dtHQO/q9g810SRuz3U1vrOQkR3UejgqQBVyg5kD5nwdM3PV2pHfTUQJ+m+sOuhZKivJrkVmBGE4cy3EN458n1LNZkRdCgg0t2FOpyicJExeO2XkxbW7sKo/WTWjNB+ZtHBwPdWX/jhHdeZ82x+mSm6xXEI2Qt
swapfree => 2.00 GB
swapfree_mb => 2048.00
swapsize => 2.00 GB
swapsize_mb => 2048.00
system_uptime => {"seconds"=>71437, "hours"=>19, "days"=>0, "uptime"=>"19:50 hours"}
timezone => CET
uniqueid => a8c00a7a
uptime => 19:50 hours
uptime_days => 0
uptime_hours => 19
uptime_seconds => 71437
virtual => kvm</code></p>

	  <p><strong>&Auml;nderungen anwenden</strong><br>
	  <code>root@puppet:~&gt; <strong>puppet apply --modulepath=/var/puppet/modules /var/puppet/manifests/site.pp</strong></code></p>

	  <h4>Puppet Konfigurationssprache</h4>
	  <p><strong>Verzeichnisstruktur</strong><br>
	  <code><strong>
- puppet/
   - manifests/
      site.pp
      - nodes.pp/
         [hostname].pp
   - modules/
      - [Modul]
         - manifests/
            init.pp
         - templates/
            vhost.conf.erb
         - files/
            vsftpd.conf
	  </strong></code></p>

	  <p>Hosts (./nodes.pp/[hostname].pp)<br>
	  <code>
node 'www.snafuprinzip.de' {
   require common      # wie include, unterbricht aber die Bearbeitung bis dieser Teil abgearbeitet ist
   include vsftpd      # importiert parallel zu den anderen includes
   include dmz_users
}	    
	  </code></p>

	  <p><strong>Services (modules/[Modul]/{manifests,files}</strong><br>
	  <code>
class vsftpd {
   package { 'vsftpd':
      ensure => installed,
   }
   service { 'vsftpd':
      ensure  => running,
      enable  => true,
      require => Package['vsftpd'],
   }
   file { '/etc/vsftpd/vsftpd.conf':
      source => 'puppet:///modules/vsftpd/vsftpd.conf'
      notify => Service['vsftpd']
      mode   => '0600',
      owner  => 'root',
      group  => 'root',
   }
}	    
	  </code></p>
	  
	  <p><strong>User</strong><br>
	  <code>
user { 'mleimenmeier':
  ensure  => present,
  comment => "Michael Leimenmeier <mleimenmeier@icloud.com>",
  home    => '/home/mleimenmeier',
  managehome => true,
}

ssh_authorized_key { 'ssh_auth_key_mleimenmeier':
  user => 'mleimenmeier',
  type => 'ed25519',
  key  => 'AAAAC3NzaC1lZDI1NTE5AAAAIBLdYAkm2ZqBAXkktOUPx5waorBMREJAvW8yzFeNs33c',
}
	  </code></p>

	  <p><strong>Kommandos (in Reihenfolge) ausf&uuml;hren</strong><br>
	  <code>
exec { 'icinga-config-check':
   command     => '/usr/sbin/icinga -v /etc/icinga/icinga.cfg && /usr/sbin/service icinga restart',
   refreshonly => true,
   subscribe   => File['/etc/icinga/icinga.cfg'],
}
exec { 'exec_first':
   command => '/bin/echo Eins',
}
exec { 'exec_second':
   command => '/bin/echo Zwei',
   require => Exec['exec_first'],
}
exec { 'exec_last':
   command => '/bin/echo Drei',
   require => Exec['exec_second'],
}
	  </code></p>

	  <p><strong>Cronjobs</strong><br>
	    <code>
cron { 'Back up home directory':
   command => '/usr/bin/rsync -az /home/ /backup/home/',
   hour    => '04',
   minute  => '00',
   user    => 'mleimenmeier',
}
	  </code></p>

	  <p><strong>Templates</strong><br>
	    Durch Templates k&ouml;nnen Teile einer Datei durch Variablen oder Ruby Code ersetzt werden. Siehe folgendes File Template und der dazu passende node Eintrag:
	    <code>
server {
   listen 80;
   root /var/www/<%= @site_name %>;
   server_name <%= @site_domain %>;
}
	    </code></p>
	    <p><code>
node 'nginxsrv' {
   include nginx
   $site_name = 'snafuprinzip'
   $site_domain = 'snafuprinzip.de'

   file { '/etc/nginx/sites-enabled/cat-pictures.conf':
      content => template('nginx/vhost.conf.erb'),
      notify => Service['nginx'],
   }
}
	    </code>
	  </p>

	  <p><strong>Resourcengruppen</strong><br>
	    Mit Hilfe des define k&ouml;nnen Konfigurationen geb&uuml;ndelt und somit 
	    ein eigener Objekttyp erstellt werden.
	    <code>
define script_job( $hour = '00' ) {
   file { "/usr/local/bin/${name}":
      source => "puppet:///modules/scripts/${name}",
      mode => '0755',
   }
   cron { "Run ${name}":
      command => "/usr/local/bin/${name}",
      hour => $hour,
      minute => '/10',
   }
}
	  </code></p>

	  <p><code>
script_job { 'backup_db':
   hour => '05',
}
	  </code></p>

	  <p><strong>class oder define?</strong><br>
	    Eine Klasse ist nur eine einzige Instanz, ben&ouml;tigt man mehrere Instanzen
	    davon auf einem node ist eine Definition vorzuziehen. 
	  </p>

	  <p><strong>Arrays</strong><br>
	    Es ist m&ouml;glich mehrere identische Resourcen in einem array zu b&uuml;ndeln.
	    <code>
package { [ 'php5-cli', 'php5-fpm', 'php-pear' ]:
   ensure => installed,
}
	    </code>
	  </p>

	  </div> <!-- puppet -->
	    

      </div> <!-- maincontents -->

      <div id="footer">
	&copy; 2015, Michael Leimenmeier
	<br>
	All Rights reserved.
      </div> <!-- footer -->

    </div> <!-- contents -->
  </body>
</html>
